<% @monthlybill.bills.each do |bill| %>
    <%= content_tag_for(:tr, bill) do |t| %>
      <td>
        <%= t.id %>
      </td>
      <td>
        <%= t.title %>
      </td>
      <td>
        <%= t.amount %>
      </td>
      <td>
        <%#= link_to 'x', this_bill, method: :delete,  :remote => true %>
        <%= link_to 'x', t, method: :delete, :remote => true %>
        <%#= link_to 'x', d, method: :delete, :remote => true %>
      </td>
    <% end %>
<% end %>


