<h1>Listing billcategories</h1>

<table>
  <tr>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @billcategories.each do |billcategory| %>
  <tr>
    <td><%= billcategory.title %></td>
    <td><%= link_to 'Show', billcategory %></td>
    <td><%= link_to 'Edit', edit_billcategory_path(billcategory) %></td>
    <td><%= link_to 'Destroy', billcategory, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Billcategory', new_billcategory_path %>
