<h1>Listing days</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Day</th>
    <th>Timein</th>
    <th>Timeout</th>
    <th>Dailyworkhours</th>
    <th>Totalamount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @days.each do |day| %>
  <tr>
    <td><%= day.date %></td>
    <td><%= day.day %></td>
    <td><%= day.timein %></td>
    <td><%= day.timeout %></td>
    <td><%= day.dailyworkhours %></td>
    <td><%= day.totalamount %></td>
    <td><%= link_to 'Show', day %></td>
    <td><%= link_to 'Edit', edit_day_path(day) %></td>
    <td><%= link_to 'Destroy', day, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Day', new_day_path %>
