<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @day.date %>
</p>

<p>
  <b>Day:</b>
  <%= @day.day %>
</p>

<p>
  <b>Timein:</b>
  <%= @day.timein %>
</p>

<p>
  <b>Timeout:</b>
  <%= @day.timeout %>
</p>

<p>
  <b>Dailyworkhours:</b>
  <%= @day.dailyworkhours %>
</p>

<p>
  <b>Totalamount:</b>
  <%= @day.totalamount %>
</p>


<%= link_to 'Edit', edit_day_path(@day) %> |
<%= link_to 'Back', days_path %>
