<!DOCTYPE html>
<html>
<head>
  <title>Dailycalc</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<%= render 'layouts/main_topbar_2' %>
<div id="mainWrapper">

  <%#= render 'devise' %>
    <div id="header">
      <%= link_to root_path do %>
          <h1>
            Data Sheets
          </h1>
       <% end %>
    </div>

    <div id="main_body">
      <%= yield %>
    </div>
    <br class="clearfloat" />
</div>

</body>
</html>
