<!DOCTYPE html>
<html>
<head>
  <title>Dailycalc</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="mainWrapper">
    <div id="header">
      <%= link_to root_path do %>
          <h1>
            Data Sheets
          </h1>
       <% end %>
    </div>

    <div id="main_body">
      <%= yield %>
    </div>

</div>

</body>
</html>
