<!DOCTYPE html>
<html>
<head>
  <title>Dailycalc</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<%= render 'layouts/main_topbar_2' %>
<%= render 'layouts/secondary_banner' %>
<div id="mainWrapper">
  <%#= render 'devise' %>
    <div id="header">
        <%#= render 'layouts/third_banner' %>
    </div>

    <div id="main_body" class="wood_background">
      <div class="test_btn"></div>
      <%= yield %>
    </div>
    <br class="clearfloat" />
</div>

</body>
</html>
