<!DOCTYPE html>
<html>
<head>
  <title>Dailycalc</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
<%= render 'layouts/main_topbar_2' %>
<%= render 'layouts/secondary_banner' %>
<div id="mainWrapper">
  <%#= render 'devise' %>
    <div id="header">
      <% if !user_signed_in? %>
        <p class="header-context text-center">
          A Personal Daily accountant that
          <br />
          <span style="color: #de8d59;">records, </span>
          <span style="color: #00acec;"> calculate,</span> and
          <span style="color: #b1d29d;"> chart</span>
          your daily income from your work.
        </p>
      <% end %>
    </div>

    <div id="main_body">
      <%= yield %>
    </div>
    <br class="clearfloat" />
</div>

</body>
</html>
